body {
    box-sizing: border-box;
    margin: 0;

}

ul {
    display: flex;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


.backdrop {
    padding-inline: 120px;
    padding-block: 60px;
    display: flex;
    gap: 60px;
    margin-top: 60px;
    color:#fafafa;
    background-color: rgba(46, 3, 47, 0.345);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.poster {
    width: 300px;
    height: 440px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 0;
    letter-spacing: 0.04rem;
}

.budget {
    font-size: 14px;
    letter-spacing: 0.06rem;
    opacity: 0.8;
    text-align: center;
}

.tagline {
    font-size: 18px;
    letter-spacing: 0.1rem;
    opacity: 0.8;
}

.date_wrapper {
    display: flex;
    gap: 30px;
}

.date, .runtime {
    font-size: 14px;
    opacity: 0.9;
    letter-spacing: 0.02rem;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 12px;
}


.circle {
    width: 50px;
    margin-right: 12px;
}

.rating {
    font-size: 14px;
    width: 50px;
    margin-right: 40px;
    letter-spacing: 00.05rem;
    opacity: 0.9;
}

.play {
    height: 29px;
    border: 1px solid #fafafa;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
    padding-left: 20px;
    color: #fafafa;
    fill: #fafafa;
    opacity: 0.9;
    margin-right: 40px;

&:hover {   
        opacity: 0.6;
    }
}

.play_svg{
    position: absolute;
    left: 4px;
    width: 16px;
    height: 16px;
    fill: inherit;
}

.btns_wrapper {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.btn {
    background-color: transparent;
    border: 1px solid #fafafa;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    position: relative;
    fill: #fafafa;
    opacity: 0.9;

    &:hover {
        opacity: 0.6;
    }

    &__svg {
        fill: inherit;
        position: absolute;
        top: 6px;
        right: 6px;
        width: 16px;
        height: 16px;
    }
}

.desc {
    margin-top: 32px;
    font-size: 18px;
    margin-bottom: 2px;
    font-weight: bold;
    letter-spacing: 0.04rem;
}

.overview {
    margin-top: 12px;
    width: 900px;
    opacity: 0.9;
    letter-spacing: 0.04rem;
}

.genres {
    gap: 10px;
    padding: 0;
    opacity: 0.9;
    letter-spacing: 0.04rem;
    margin-top: 12px;


&__item:not(:last-child) {
    padding-right: 10px;
        border-right: 1.5px solid #fafafa;
    }
}

.cast {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(9, 140px);
    grid-gap: 10px;
    padding-inline: 120px;
    justify-content: center;
    color:#fafafa;
    font-size: 12px;
    margin-bottom: 28px;

    &__title{
        margin-top: 70px;
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.04rem;
        color: #fafafa;
        opacity: 0.9;
        margin-left: 120px;
    }

    &__item {
        border: 1px solid #2e263ad1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 5px;
        background-color: #957ead36;
        height: 296px;
    }

    &__img {
        width: 100%;
        margin-bottom: 4px;
    }

    &__name{
        margin: 0;
        margin-left: 4px;
        font-size: 14px;
        opacity: 0.9;
    }

    &__character {
        margin-left: 4px;
        margin-block: 12px 4px;
        opacity: 0.8;
    }

    &__hero {
        margin-left: 4px;
        margin-block: 0;
        opacity: 0.8;
        letter-spacing: 00.02rem;
    }

    &__more, &__hide {
        background-color: transparent;
        border: 1px solid #fafafa;
        border-radius: 5px;
        height: 32px;
        padding-inline: 4px 22px;
        position: relative;
        color: #fafafa;
        fill: #fafafa;
        opacity: 0.9;
    }

        &__more{
            margin-right: 20px;        
        }

    &__svg {
        fill: inherit;
        position: absolute;
        right: 6px;
        top: 10px;

    }

    &__btns{
margin-left: 120px;
margin-bottom: 70px;
    }
}

.video {
 justify-content: center;

 &__title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.04rem;
    color: #fafafa;
    opacity: 0.9;
    margin-left: 80px;
 }

    &__wrapper {
        position: relative;
        width: 1020px;
        margin: 0 auto;
        margin-bottom: 70px;
    }

    &__btns {
        display: flex;
        gap: 956px;
        position: absolute;
        top: 266px;
    }

    &__btn {
        background-color: transparent;
        border: none;
        fill: #fafafa;
        opacity: 0.9;

        &:hover {
            opacity: 0.7;
        }
    }

    &__svg {
        fill: inherit;
    }
 
}

.reviews {
    flex-direction: column;
    gap: 20px;
    padding: 0;

    &__wrapper {
        width: 1351px;
        margin: 0 auto;
        color: #fafafa;
        margin-bottom: 100px;
    }

    &__item {
        border: 1px solid #2e263ad1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 5px;
        background-color: #957ead36;
        padding-inline: 24px;
        padding-block: 14px;
        position: relative;
    }

    &__author {
        font-size: 16px;
        margin-bottom: 2px;
        font-weight: bold;
        letter-spacing: 0.04rem;
        opacity: 0.9;
        margin-top: 0;
    }

    &__text{ 
        font-size: 14px;
        margin-top: 12px;
        opacity: 0.7;
        letter-spacing: 0.04rem;
        line-height: 1.4;
    }

    &__date {
        font-size: 12px;
        opacity: 0.9;
        letter-spacing: 0.04rem;
        border-top: 1px solid #fafafa;
        padding-top: 4px;
        display: inline;
    }

    &__btn {
        position: absolute;
        right: 24px;
        bottom: 20px;
        border: 1px solid #fafafa;
        background-color: transparent;
        opacity: 0.9;
        color: #fafafa;
        padding: 5px;
        padding-inline: 10px;
        font-size: 10px;
        letter-spacing: 0.04rem;
        border-radius: 7px;

        &:hover {
            opacity: 0.6;
        }

    }
}