.recipes {
    margin: 0 auto;

    &__btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1px;
    
        width: 90px;
        height: 40px;
    
        background: #ffffff81;
        border: 1.5px solid #ef561a;
        color: #ef561a;
        border-radius: 10px;
    
        margin-left: 50px;
        margin-block: 30px 20px; 
    
        &:hover {
        background: #ef561a;
        color: #ffffff;
        border: 1px solid transparent;
        }

        & a {
            color: inherit;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 8px;
    }

    &__item {
        border: 1px solid white;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.234);
        padding: 10px;
        width: 180px;
        height: 225px;
    }

    &__img {
        border-radius: 10px;
    }

    &__name {
        margin: 6px;
    }
}